/*
File: style.scss
Outputs: style.css

Project: RED

Description:
	Global styles

Requires:
	- Sass <http://sass-lang.com/>
	- Compass <http://compass-style.org/>

Requires:
	- <caboose/_caboose.scss>
	- <project/_base.scss>

*/

// Import project settings first
@import "project/site-settings";

// Import Caboose
@import "caboose/caboose";

// Import project mixins and placeholders
@import "project/mixins/mixins",
		"project/placeholders/placeholders";

// Import fonts
// @import "project/fonts/proxima-nova"

// Import project base
@import "project/base/header",
		"project/base/body",
		"project/base/footer";

// Import shared modules
// @import "project/modules/feature"

// Import page views
@import "project/views/home";
