/*
File: style.scss
Outputs: style.css

Project: RED

Description:
	Global styles

Requires:
	- Sass <http://sass-lang.com/>
	- Compass <http://compass-style.org/>

Requires:
	- <caboose/_caboose.scss>
	- <project/_base.scss>

*/

// Default project config options
// Customize to your liking
@import "project/defaults";

// Core imports
@import "caboose/caboose";

// See project/_base.scss
@import "project/base";
