/*
File: partials/globals
Imported by: style.scss

Description:
	General global styling

Requires:
	- Sass
	- Compass

*/

// Export defaults to the DOM
@import "exports";

// Global header
@import "header";

// Add defaults here

// box-sizing: border-box;
// http://paulirish.com/2012/box-sizing-border-box-ftw/
* {
	@include box-sizing(border-box);
}

html {}

body {
	@extend %debug !optional;
}

a {}

// End defaults

// Global footer
@import "footer";
