/*
File: partials/globals
Imported by: style.scss

Description:
	General global styling

Requires:
	- Sass
	- Compass

*/

// Export defaults to the DOM
@import "exports";

@import "header";

// box-sizing: border-box;
// http://paulirish.com/2012/box-sizing-border-box-ftw/
* {
	@include box-sizing(border-box);
}

body {}

@import "footer";
