/*
File: style.scss
Outputs: style.css

Project: RED

Description:
	Global styles

Requires:
	- Sass <http://sass-lang.com/>
	- Compass <http://compass-style.org/>

Requires:
	- <../caboose/_caboose.scss>
	- <_site-settings.scss>

*/

// Import project settings first
@import "site-settings";

// Import Caboose
@import "caboose";

// Import project mixins
@import "mixins/mixins";

// Import project placeholders
@import "placeholders/placeholders";

// Import fonts
// @import "fonts/proxima-nova"

// Import project base files
@import "base/header",
		"base/body",
		"base/footer";

// Rosy Imports
// For use with https://github.com/ff0000/rosy
// @import "custom-form-field";
// @import "page-control";

// Import shared modules
// @import "modules/feature";

// Import page views
@import "views/home";
